
// Margins
$short-margin: 16px;
$large-margin: 32px;

// ML Colors
$yellow: #FFE600;
$blue: #3483FA;
$white: #FFFFFF;
$light-gray: #EEEEEE;
$medium-gray: #999999;
$dark-gray: #666666;
$black: #333333;

